<!DOCTYPE html>
<html>
  <head>
    <title>ConferenceRoomReservation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
        <div class="col-8">
          <div class="col-8">
            <% if user_signed_in? %>
              <% @user = current_user %>
              <% if @user.last_name && @user.first_name %>
                <%= @user.last_name + @user.first_name %>
              <% end %>
            <% end %>
          </div>
          <div class="col no-gutters">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
